* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope';
    margin: 1.5rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-img {
    width: 500px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#right-div {
    background-color: #fff;
    height: 400px;
    width: 600px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#woman {
    display: flex;
    padding: 20px 40px 0 40px;
}

h2 {
    padding: 40px 40px 20px 40px;
}

h4 {
    padding-left: 20px;
}

h2,
h4 {
    color: hsl(217, 19%, 35%);
}

p {
    color: hsl(214, 17%, 51%);
    font-size: 16px;
    padding: 0 40px 30px 40px;
}

.date {
    color: hsl(212, 23%, 69%);
    padding-left: 20px;
    padding-right: 270px;
}

.woman-img {
    border-radius: 48%;
    width: 60px;
}

.share-icon {
    padding: 20px;
    background-color: hsl(212, 23%, 69%);
    border-radius: 50%;
    cursor: pointer;
}

#share-btn{
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.share-icon:hover {
    background-color: hsl(217, 19%, 35%);
}

.share-icon:focus {
    color: hsl(210, 46%, 95%);
}

.share-word{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.after-click{
    background-color: hsl(217, 19%, 35%);
    display: flex;
    position: absolute;
    height: 50px;
    width: 250px;
    padding-top: 15px;
    border-radius: 10px;
    margin: -9rem 0 0 24rem;
}

.after-click::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 15px 15px 0;
    border-style: solid;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    color: hsl(217, 19%, 35%);
  }

  .hidden{
    display: none;
  }

.iconn{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    #right-div{
        width: 500px;
    }

    .woman-img{
        width: 50px;
        height: 50px;
    }

    #share-div{
        position: absolute;
        margin-left: 20rem;
    }

    .after-click{
        margin: -10rem 0 0 16.5rem;
    }
}